.l-box {
    padding: 2em;
}

.pure-alert {
    border-radius: .8em;
}

div .reason {
    border: 2pt dotted orange;
    margin-top: .5em;
    padding: .5em;
}

.mail-msg {
    border: 1pt solid gray;
    border-radius: .8em;
    padding: 5px;
}


/* modal */

.modal {
    display: none;
    position: fixed;
    padding-top: 50px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-container {
    overflow-y: scroll;
    max-height: 60vh;
}

.modal-content {
    position: relative;
    background-color: white;
    padding: 20px;
    margin: auto;
    width: 75%;
    max-height: 80%;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }
    to {
        top: 0;
        opacity: 1
    }
}